<section>

    <div class="centrar">
        <img class="mi-foto" src="imagenes/perfil-linkedin.jpg" alt="">
    </div>

    
    <div class="centrar">
        <h1 class="titulo-h1"> {{persona.nombre}} {{persona.apellido}}</h1>   

        <p>en algun lugar poner poara descargar CURRICULUM</p>

        <h2 class="titulo-front">Desarrollador FrontEnd</h2>
    </div>    

</section>

<section class="containerr">
    <div>
        <h2 class="titulo-quiensoy">¿QS?</h2>
        <p class="txt-quiensoy">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor itaque fugit possimus pariatur? <br> Pariatur optio excepturi enim repudiandae reiciendis? Maiores, nostrum. Nemo alias quia nihil distinctio laudantium obcaecati illum blanditiis. <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br> Quasi eos fuga sint minus iste maiores sed, qui tenetur voluptates dicta? <br> Sunt repellendus unde quos aut molestiae exercitationem dolore soluta ducimus. 
        </p>
    </div>
    
    <div id="habilidades" >
        <h2 class="titulo-habilidades">Habilidades</h2>
    
        <div class="icono-container">
            <p class="icono">
                <img class="hvr-float-shadow" src="imagenes/icons8-html-5-70.png" alt="">
                HTML5
            </p> 
                   
            <p class="icono">
                <img class="hvr-float-shadow" src="imagenes/icons8-css3-70.png" alt="">
                CSS3
            </p>
                    
            <p class="icono">
                <img class="hvr-float-shadow" src="imagenes/icons8-javascript-70.png" alt="">
                JavaScript
            </p>
             
            <p class="icono">
                <img class="hvr-float-shadow" src="imagenes/icons8-sass-70.png" alt="">
                SASS
            </p>
                   
            <p class="icono">
                <img class="hvr-float-shadow" src="imagenes/icons8-github-70.png" alt="">
                Github
            </p>
                   
            <p class="icono">
                <img class="hvr-float-shadow" src="imagenes/icons8-git-70.png" alt="">
                Git
            </p>          
        </div>
    </div>    
</section>