
<section>

    <div class="centrar">
        <img class="mi-foto" src="imagenes/perfil-linkedin.jpg" alt="">
    </div>

    
    <div class="centrar">
        <h1 class="titulo-h1"> {{persona.nombre}} {{persona.apellido}}</h1>   

        <p>en algun lugar poner poara descargar CURRICULUM</p>

        <h2 class="titulo-front">Desarrollador FrontEnd</h2>
    </div>    

</section>

<section class="containerr">
    <div>
        <h2 class="titulo-quiensoy">¿QS?</h2>
        <p class="txt-quiensoy">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor itaque fugit possimus pariatur? <br> Pariatur optio excepturi enim repudiandae reiciendis? Maiores, nostrum. Nemo alias quia nihil distinctio laudantium obcaecati illum blanditiis. <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br> Quasi eos fuga sint minus iste maiores sed, qui tenetur voluptates dicta? <br> Sunt repellendus unde quos aut molestiae exercitationem dolore soluta ducimus. 
        </p>
    </div>
      
</section>
