/* SECCION CONTACTO */

#contacto{
    padding-top: 90px;
    
    
  }
  
  .redes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .contactame{
    font-size: 24px;
  }