<section id="proyectos">
    <h2 class="titulo-proyecto">Proyectos</h2>

    <div class="container-proyecto">
        <div class="texto-proyecto">
            <h1 class="h1-proyecto">TITULO</h1>

            <p class="explicacion-proyecto"> ----- EXPLICACION DEL PROYECTO -------Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima explicabo sed commodi <br> architecto veritatis laboriosam necessitatibus obcaecati <br> reprehenderit, blanditiis, aliquid fugiat voluptates, odio corrupti <br> nisi? Quam ad, sequi, itaque doloribus explicabo quaerat quasi nam reiciendis debitis dolorem nulla nobis. Libero.</p>

            <a href=""> ACA VA LAS TECNOLOGIAS QUE USE EN EL PROYECTO. ------  Y EN LA IMAGEN VAN EL LINK A GITHUB Y A LA WEB </a>
        </div>
        <div class="containers">
            <img src="/imagenes/horarioPVU.png" alt="imagen del proyecto" class="image">
            <div class="middle">
              <a href=""><div class="text">WEB</div></a>  
              
              <a href="https://github.com/gonzatroncoso?tab=repositories"><div class="text">GITHUB</div></a>
            </div>
           
          </div>
    </div>

    <!-- <div class=" container-proyecto">
        <div class="texto-proyecto">
            <h1 class="h1-proyecto">TITULO</h1>

            <p class="explicacion-proyecto">----- EXPLICACION DEL PROYECTO -------Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima explicabo sed commodi <br> architecto veritatis laboriosam necessitatibus obcaecati <br> reprehenderit, blanditiis, aliquid fugiat voluptates, odio corrupti <br> nisi? Quam ad, sequi, itaque doloribus explicabo quaerat quasi nam reiciendis debitis dolorem nulla nobis. Libero.</p>

            <a href=""> ACA VA LAS TECNOLOGIAS QUE USE EN EL PROYECTO. ------  Y EN LA IMAGEN VAN EL LINK A GITHUB Y A LA WEB </a>
        </div>

        <div class="containers">
            <img src="/imagenes/horarioPVU.png" alt="imagen del proyecto" class="image">
            <div class="middle">
                <a href=""><div class="text">WEB</div></a>  
                
                <a href="https://github.com/gonzatroncoso?tab=repositories"><div class="text">GITHUB</div></a>
              </div>
          </div>

    </div> -->

        <!-- <figure class="proy-img">
            <img class="img-proyecto"  src="/imagenes/horarioPVU.png" alt="">
            <figcaption class="marco-img">
                <a  href=""> <img class="icono-proyectos"  src="imagenes/icons8-visible-64.png" alt=""> </a>
            </figcaption>
        </figure> -->


</section>
