.titulo-habilidades{
    margin-left: 10px;
    margin-top: 60px;
  }
  #habilidades{
    
    margin-bottom: 70px;
  }

  
.icono-container{
    margin-left: 10%;
    width: 20%;
    margin-right: 100px;     
    display: grid; 
    grid-template-columns: 0.4fr 0.4fr 0.4fr; 
    grid-template-rows: 1fr 1fr ; 
    gap: 0px 0px; 
  
}

.icono{
    margin-right: 55px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}




h1{
  color: white;
  
}

h2 {
  margin-left: 130px;
  color: white;
  
}
h3{
color: white;
}