input{
    background-color: white;
}

label{
    color: white;
}

button{
    color: red;
    background-color: aquamarine;
}

button:hover{
    background-color: gray;
}

p{
    color: yellow;
}

.contenedor{
    margin: 80px;
}